<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="python" path="*." verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\home\site\wwwroot\app.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
